
body {
    align-items: center;
    margin-left: 28%;
    margin-top: 10%;
    display: flex;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-wrap: wrap;
}

header {
    margin-bottom: 45%;
}

.title {
    margin-top: 5%;
    display: flex;
    position: center;
    margin-bottom: 5%;
}

.title h1 {
   display: flex;
   margin-left: -5%;
   margin-bottom: 5%;
   color: rgb(255, 255, 255);
   position: absolute;
   font-size: 50px;
   z-index: 1;
}

.title h2 {
    display: flex;
    color: orange;
    margin-left: 12%;
    margin-top: 7%;
    position: absolute;
    font-size: 30px;
    z-index: 1;
 }

.conteudo p {
    display: flex;
    position: absolute;
    margin-top: 5%;
    margin-bottom: 1%;
    margin-left: 2%;
    text-indent: 2%;
}

.cabecalho {
    margin-top: -10%;
    margin-left: -40%;
    position: absolute;
    display: flex;
}

.cabecalho img {
    height: 450px;
    width: 2020px;
    opacity: 0.8;
    background:-webkit-linear-gradient(black);
    filter: brightness(0.4);
    border-bottom: 5px solid black; /* Cor e espessura da linha */
}
.simbols {
    position: absolute;
    display: flex;
    margin-top: 10%;
    margin-left: 15%;
    padding: 5px;
    gap: 40px;
    font-size: 24px;
}

.simbols i{
    color: white;
}

.navbar {
    position: fixed;
    z-index: 1;
    margin-top: -50%;
    margin-left: -50%;
    height: 40px;
    background-color: black;
    width: 2200px;
}

.form {
    display: flex;
    position: absolute;
    margin-top: 60%;
    margin-left: 1%;
    max-width: 1000px;
    max-height: 500px;
    
}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    display: flex;
    position: absolute;
    margin-top: -6%;
    margin-left: 8%;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  /* Style the container */
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
